nav{
    min-height: 50px;
    margin:0;
    padding: 0;
    background-color: #dee2e6;
}

.navbar .nav-item .nav-link {
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .navbar .nav-item .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
